.header {
            background-color: #f8f9fa;
            padding: 15px 0;
        }
.contact-section {
      background-image: url('img/c_image.jpg');
      background-size: cover;
      padding: 0px;
      color: white;
    }