.header {
            background-color: #1279e0;
            padding: 15px 0;
        }
.contact-section {
      background-image: url('img/c_image.jpg');
      background-size: cover;
      padding: 0px;
      color: white;
    }
    .image-container {
        display: flex;
        flex-wrap: wrap;
      }
      
      .image-container img {
        width: 25%;
        height: auto;
        box-sizing: border-box;
        padding: 5px;
      }
      .image-social-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .image-social-container img {
        width: 50px;
        height: auto;
        margin: 10px;
    }